extends layout

block content
	div(class='category-heading-box')
		h1(class='category-heading')= `${category.name} `
			span(class='category-count')=`(${products.length})`
		if category._id
			a(class='btn btn-category', href=`${category.url}/edit`) Edit
			a(class='btn btn-category', href=`${category.url}/delete`) Delete 

	p(class='category-description')=category.description
	



	div(class='product-grid')
		each product in products
			div(class='product-item')
				div(class='product-title-box')
					h1(class='product-item__name')=product.name
					h1(class='product-item__price')=`$${product.price}`
				p(class='product-item__description')=product.description
				a(class='btn btn-edit', href=`/product/${product.id}/edit`) Edit
				a(class='btn btn-delete', href=`/product/${product.id}/delete`) Delete